@model IEnumerable<Ameliorated_Communications.Models.Callee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.callCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastCallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastCallTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nextCallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nextCallTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calleeDemeanor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isInterested)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.callCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giftDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastCallDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastCallTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nextCallDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nextCallTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calleeDemeanor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isInterested)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CalleeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CalleeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CalleeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
